<% provide(:title, @post.title) %>
<div class="card">
	<h5 class="card-header">タイトル: <%= link_to @post.title %></h5>
	<div class="card-body">
		<p class="card-text">本文 : <%= simple_format(@post.content) %>
		<%= image_tag @post.picture.url if @post.picture? %></p>
	</div>
	<div class="card-footer">
		<%= image_tag @post.user.picture.url,:size =>'30x30' if @post.user.picture? %>
	  投稿者<%= link_to @post.user.name, user_path(@post.user.id) %>  - 投稿日時<%= simple_time(@post.created_at) %>
	</div>
</div>
<h2>コメント一覧</h2>
<% @comments.each do |c| %>
  <div>
  	<%= link_to c.user.name, user_path(c.user_id) %>
    <%= c.content %>
    <hr>
  </div>
<% end %>
<% if logged_in? %>
	<%= form_for [@post, @comment] do |f| %>
  	<%= f.text_field :content %>
  	<br>
  	<%= f.submit 'コメントする' %>
	<% end %>
<% end %>
